.App {
  width: 100vw;
  height: 90vh;
}



/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  font-size: 1em;
  padding-top: 20px;
}


.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  position: relative; 
  z-index: 1;
}

.Wavey1 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw; 
  height: 90px; 
  background: url('/Users/kassharoun/Desktop/GA/personal_portfolio/portfolio/src/images/wiggly1.png');
  background-size: 1200px auto;
  animation: wave 40s infinite linear;
  animation-fill-mode: forwards;
}



@keyframes wave {
  0% {
    background-position: 100px 0; 
  }
  100% {
    background-position: -1100px 0;
  }
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190%;
}

/* Footer */


.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  padding-top: 20px;
}

.Wavey-image {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100vw; 
  height: 90px; 
  background: url('/Users/kassharoun/Desktop/GA/personal_portfolio/portfolio/src/images/wiggly2.png');
  background-size: 1200px auto;
  animation: wave2 40s infinite linear;
  animation-fill-mode: forwards;
}


@keyframes wave2 {
  0% {
    background-position: 100px 0; 
  }
  100% {
    background-position: 1100px 0;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 300px;
  margin-bottom: 30px;
}






/* Home */

.Home{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  height: 90vh;
}

.allhome{
  overflow-y: auto; 
  max-height: calc(80vh - 80px); 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  position: relative;
  max-width: auto;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  position: relative;
}
.name {
  color: #C60012;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.499);
  font-size: 6em;
  margin: 0;
}

.mainComponent {
  margin: 18em 0 30em;
}

.aroundName{
  font-size: 2em;
}

.developer {
  margin-bottom: 0;
  padding-bottom: 0;
  animation: colorChange 10s infinite alternate;
}

.product {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  padding-top: -10px;
  animation: colorChange 20s infinite alternate;
}

@keyframes colorChange {
  0% { color: black} 
  25% { color: #015ADA; } 
  55% { color: #c0c0fc; } 
  100% { color: #FFD700; } 
  75% { color: green; } 
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}


.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #c0c0fc solid 4px;
  padding: 1px;
  margin-bottom: 15px;
  border-radius: 10px;
transition: all .8s ease;
}

.projecttitle {
  color:#C60012;
  font-size: 1.2em;
  text-shadow: none;
  font-weight: 900;
  margin-left: 20px;
}

.languages {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-right: 20px;
  font-weight: 200;
  color: #a0a0de;
}

.language {
  border: solid #c0c0fc 1px;
  padding: 8px;
  border-radius: 15px;
  font-size:.8em;
}

.linkComponent {
  padding-bottom: 100px;
}

.projectLink {
text-shadow: none;
}

.box:hover {
  text-shadow: none;
  border-radius: 100px;
}

@keyframes rainbowsarecute {
  0% { color: #ff0000; } 
  16.67% { color: #ff7f00; } 
  33.33% { color: #ffb347; }
  50% { color: green; }
  66.67% { color: #015ADA; }
  83.33% { color: #4b0082; }
  100% { color: #9400d3; } 
}

.box:hover .projecttitle {
  animation: rainbowsarecute 3s infinite;
}


