.App {
  width: 100vw;
  height: 90vh;
}

/* Header */

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  position: relative; 
}

.Wavey1 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw; 
  height: 90px; 
  background: url('/Users/kassharoun/Desktop/GA/personal_portfolio/portfolio/src/images/wiggly1.png');
  background-size: 1200px auto;
  animation: wave 40s infinite linear;
  animation-fill-mode: forwards;
}



@keyframes wave {
  0% {
    background-position: 100px 0; 
  }
  100% {
    background-position: -1100px 0;
  }
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190%;
}

/* Footer */


.Footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  padding-top: 20px;
}

.Wavey-image {
  position: absolute;
  top: -120px;
  left: 0;
  width: 100vw; 
  height: 90px; 
  background: url('/Users/kassharoun/Desktop/GA/personal_portfolio/portfolio/src/images/wiggly2.png');
  background-size: 1200px auto;
  animation: wave2 40s infinite linear;
  animation-fill-mode: forwards;
}


@keyframes wave2 {
  0% {
    background-position: 100px 0; 
  }
  100% {
    background-position: 1100px 0;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 300px;
}






/* Home */

.Home{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.allhome{
  max-height: 820px;
  max-width: auto;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  position: relative;
}
.name {
  color: #C60012;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.499);
  font-size: 6em;
  margin: 0;
}

.mainComponent {
  margin: 20em 0 30em;
}

.aroundName{
  font-size: 2em;
}

.developer {
  margin-bottom: 0;
  padding-bottom: 0;
  animation: colorChange 10s infinite alternate;
}

.product {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  padding-top: -10px;
  animation: colorChange 20s infinite alternate;
}

@keyframes colorChange {
  0% { color: black} 
  25% { color: #015ADA; } 
  55% { color: #c0c0fc; } 
  100% { color: #FFD700; } 
  75% { color: green; } 
}