.App {
  width: 100vw;
  height: 90vh;
  background-color: #faf4ee ;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  font-size: 1em;
  padding-top: 40px;
  background-color: #faf4ee ;
}


.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  position: relative; 
  z-index: 1;
}

.Wavey1 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw; 
  height: 90px; 
  background: url('/Users/kassharoun/Desktop/GA/personal_portfolio/portfolio/src/images/wiggly1.png');
  background-size: 1200px auto;
  animation: wave 40s infinite linear;
  animation-fill-mode: forwards;
}



@keyframes wave {
  0% {
    background-position: 100px 0; 
  }
  100% {
    background-position: -1100px 0;
  }
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190%;
}

/* Footer */


.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
  padding-top: 20px;
  background-color: #faf4ee ;
}

/* .Wavey-image {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100vw; 
  height: 90px; 
  background: url('/Users/kassharoun/Desktop/GA/personal_portfolio/portfolio/src/images/wiggly2.png');
  background-size: 1200px auto;
  animation: wave2 40s infinite linear;
  animation-fill-mode: forwards;
}


@keyframes wave2 {
  0% {
    background-position: 100px 0; 
  }
  100% {
    background-position: 1100px 0;
  }
} */

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 300px;
  margin-bottom: 30px;
}


/* Home */

.Home{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  height: 90vh;
}

.allhome{
  overflow-y: auto; 
  padding-left: 50px;
  padding-right: 50px;
  max-height: calc(80vh - 80px); 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  position: relative;
  max-width: auto;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.name {
  color: #E57438;
  text-shadow: 2px 2px 2px #C3C9D1;
  font-size: 6em;
  margin: 0;
}

.mainComponent {
  margin: 18em 0 30em;
}

.aroundName{
  font-size: 2em;
}

.developer {
  margin-bottom: 0;
  padding-bottom: 0;
  color: #EE906E;
  
  /* animation: colorChange 10s infinite alternate; */
}

.product {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  padding-top: -10px;
  color: #EE906E;
  /* animation: colorChange 20s infinite alternate; */
}

@keyframes colorChange {
  0% { color: black} 
  25% { color: #015ADA; } 
  55% { color: #c0c0fc; } 
  100% { color: #FFD700; } 
  75% { color: green; } 
}



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color:#EE906E;
  text-shadow: 1px 1px 2px #542106;
  letter-spacing: 4px;
  margin-top: 50px;
}


.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c0c0fc2d;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  /* border: #c0c0fc solid 3px; */
  box-shadow: 1px 3px 1px #c0c0fc;
  padding-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
transition: all .8s ease;
}

.projecttitle {
  color:#E57438;
  font-size: 1.2em;
  text-shadow: none;
  font-weight: 900;
  margin-left: 20px;
}

.languages {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-right: 20px;
  font-weight: 200;
  color: #a0a0de;
  
}

.language {
  border: solid #c0c0fc 1px;
  padding: 8px;
  border-radius: 15px;
  font-size:.8em;
  transition: all 1s ease;
}

.linkComponent {
  padding-bottom: 100px;
}

.projectLink {
text-shadow: none;
}

.box:hover {
  text-shadow: none;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #c0c0fc;
}

/* @keyframes rainbowsarecute {
  0% { color: #E57438} 
  25% { color: #e57538c1; } 
  55% { color: #e5753891; } 
  100% { color: #E57438; } 
} */

/* .box:hover .projecttitle {
  animation: rainbowsarecute 3s infinite alternate;
} */

.box:hover .language {
  background-color: #c0c0fc;
  color: white;
  font-weight: 500;
}


.flower1 {
  background-image: url('./images/flower2.png'); 
  background-size: cover; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  animation: rotateFlower 1.5s infinite alternate;
  margin-top: -20px;
  margin-left: -50px;
}

@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg); 
  }
}

.flower2 {
  background-image: url('./images/flower2.png'); 
  background-size: cover; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  animation: rotateFlower 1.3s infinite alternate;
  margin-top: -20px;
  margin-left:920px;
}

.flower3 {
  background-image: url('./images/flower2.png'); 
  background-size: cover; 
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  animation: rotateFlowerbottom 3s infinite alternate;
  margin-top: -10px;
  margin-left:580px;
}

.flower4 {
  background-image: url('./images/flower2.png'); 
  background-size: cover; 
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  animation: rotateFlowerbottom 3s infinite alternate;
  margin-top: 20px;
  margin-left:260px;
}

.flower5 {
  background-image: url('./images/flower2.png'); 
  background-size: cover; 
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  animation: rotateFlowerbottom 3s infinite alternate;
  margin-top: -30px;
  margin-left:590px;
}

.flower6 {
  background-image: url('./images/flower2.png'); 
  background-size: cover; 
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  animation: rotateFlowerbottom 2s infinite alternate;
  margin-top: -10px;
  margin-left:340px;
}

@keyframes rotateFlowerbottom {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50deg); 
  }
}

.bottom {
  position: absolute;
  background-image: url('./images/scroll.png'); 
  background-size: cover; 
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 0;
  transform: rotate(-10deg);
}

.top {
  position: absolute;
  background-image: url('./images/scroll.png'); 
  background-size: cover; 
  width: 110px;
  height: 110px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: rotate(-10deg);
 margin-bottom: 10px;
}
.flowerscroll {
  background-color: #E57438;
  width: 20px !important;
  font-weight: 600;
  border-radius: 100px;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.617);
  transform: rotate(10deg);
}

.bottom:hover, .top:hover {
  animation: bottomFlower 3s infinite alternate;
}

.bottom:hover .flowerscroll, 
.top:hover .flowerscroll {
  animation: bottomText 3s infinite alternate;
}

@keyframes bottomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bottomText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Contact Page */

.modal-content {
  background-color: #faf4ee;
  color:#E57438;
}

.modal-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-control {
  border: #fce7df solid 1px;
  background-color: #fbfaf9;
  max-height: 200px;
 
  color:#d8743e;
}

#message {
  min-height: 70px;
  overflow: auto;
  overflow: hidden;
}
.form-control::placeholder {
color:#a0a0deb6;
}

.form-control:focus,
.form-control:active, 
.form-control::after {
  outline: none;
  border: none;
  box-shadow: none;
  color:#E57438;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* portfolio */

.Portfolio{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  height: 90vh;
}

.card-img-top{
  object-fit: cover;
  width: 270px;
  height: 270px;
  /* filter: brightness(60%); */
  transition: all 0.3s ease;
  border-radius: 10px;
}

.card-img-top:hover {
  /* filter: brightness(100%); */
  width: 280px;
  height: 280px;
}

.container {
  overflow-y: auto; 
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  margin-top: 100px;
  max-height: 75vh; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  position: relative;
  max-width: auto;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  gap: 20px;
  padding-bottom: 50px;
}

/* About */

.About {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
  gap: 50px;
}

.profpic {
  width: 400px;
  transform: rotate(-10deg);
  animation: profspin 6s infinite alternate ;
}

@keyframes profspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.abouttext{
  width: 600px;
  color:#d8743e;
}

.second{
  color:#8e8ece;
}