:root {
  background-color: #faf4ee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-style: italic;;
  letter-spacing: 7px;;
  transition: all .3s ease;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #FF6347;
  transition: width 0.3s ease;
}

a::before {
  left: 50%;
  transform: translateX(-50%);
}

a::after {
  right: 50%;
  transform: translateX(50%);
}

a:hover::before,
a:hover::after {
  width: 100%; /* Lines grow inward toward the center */
}

a:hover {
  color: #FF6347;
}

@keyframes glitch {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  25% {
    clip: rect(12px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(15px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 20px, 0);
  }
}


/* .linkhome:hover{
  color: #fad91d;
}

.contactlink:hover{
  color: #C60012;
} */

body {
  font-family: "Xanh Mono", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 500;
}

h1 {
  font-family: "Modak", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-primary {
  background-color:#a0a0de;
  border: none;
  transition: ease all .3s;
  --bs-btn-active-bg:#a0a0de;
}


.btn-primary:hover {
  background-color:#a0a0ded6;
  border: none;
}

.btn-primary:focus, .btn-primary:active {
  background-color:#a0a0de;
  border: none;
}

.btn-close {
  --bs-btn-close-color: #a0a0de;
  --bs-btn-close-focus-shadow: none;
  --bs-btn-close-focus-opacity: none;
}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
